src/main/app/card-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="card-sapi-httpListenerConfig" host="0.0.0.0" port="${system.http.port}" doc:name="HTTP Listener Configuration" />
    <apikit:config name="card-sapi-config" raml="card-sapi.raml" consoleEnabled="false" doc:name="Router" />
    <context:property-placeholder location="systems.properties" />
    <db:mysql-config name="MySQL_Configuration" host="${system.db.host}" port="${system.db.port}" user="${system.db.user}" password="${system.db.pass}" database="${system.db.name}" doc:name="MySQL Configuration" />
    <flow name="card-sapi-main">
        <http:listener config-ref="card-sapi-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="card-sapi-config" doc:name="APIkit Router" />
        <exception-strategy ref="card-sapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="card-sapi-console">
        <http:listener config-ref="card-sapi-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="card-sapi-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/GetCardStatus:card-sapi-config">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from card where CARD_NO = #[message.inboundProperties.'http.query.params'.CardNo]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	CARD_STATUS: payload[0].CARD_STATUS
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="post:/PostCard:application/json:card-sapi-config">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	ACCT_NO: payload.acctInfo.ACCT_NO,
	CARD_NO: payload.cardNo,
	CARD_TYPE_NO: payload.cardTypeNo,
	CUST_NO: payload.custInfo.CUST_NO,
	ID_NO: payload.custInfo.ID_NO
}]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO card
(`ID_NO`,
`CUST_NO`,
`ACCT_NO`,
`CARD_NO`,
`CARD_TYPE_NO`,
`CARD_STATUS`)
VALUES
(#[payload.ID_NO], 
#[payload.CUST_NO],
#[payload.ACCT_NO],
#[payload.CARD_NO],
#[payload.CARD_TYPE_NO],
'Active'
);]]></db:parameterized-query>
        </db:insert>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	CARD_STATUS: "Active"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <apikit:mapping-exception-strategy name="card-sapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
